nav{
    padding: 30px 10px;
    background-color: cadetblue;
    color:cornsilk;
    font-size: 20px;
    position: sticky;
    top:0px;
}
.content{
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrongGuess{
    color:red;
}

.rightGuess{
    color:gold;
}

